.concert {
  width: 100%;
  max-height: 300px;
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: 16px;
  display: grid;
  row-gap: 10px;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.border {
      padding-bottom: 5px;
      border-bottom: 1px solid var(--border);
    }
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__description {
    line-height: 30px;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
    text-overflow: ellipsis;
  }

  &__seats {
    display: flex;
    gap: 10px;
    align-items: flex-start;
  }

  &__number {
    padding: 5px 10px;
    border-radius: 16px;
    color: white;
  }

  .green {
    background-color: var(--primary-green);
  }

  .red {
    background-color: var(--primary-red);
  }

  .gray {
    background-color: var(--primary-gray);
  }
}
