.create {
  border: 1px solid var(--border);
  border-radius: 16px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title {
    font-size: 2rem;
    border-bottom: 1px solid var(--border);
    padding-bottom: 10px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__actions {
    display: block;
    margin-left: auto;
  }

  input {
    width: 25vw;
  }

  textarea {
    width: 100%;
  }
}
